
# Feature Selection Lab

In this lab we will explore feature selection on the Titanic Dataset. First of all let's load a few things:

- Standard packages
- The training set from lab 2.3
- The union we have saved in lab 2.3


You can load the titanic data as follows:

    psql -h dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com -p 5432 -U dsi_student titanic
    password: gastudents

In [18]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

from sqlalchemy import create_engine
engine = create_engine('postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com/titanic')

df = pd.read_sql('SELECT * FROM train', engine)

In [19]:
import gzip
import dill

with gzip.open('../../assets/datasets/union.dill.gz') as fin:
    union = dill.load(fin)
    
X = df[[u'Pclass', u'Sex', u'Age', u'SibSp', u'Parch', u'Fare', u'Embarked']]
y = df[u'Survived']

X_transf = union.fit_transform(X)
X_transf

array([[-0.5924806 ,  0.        ,  0.        , ...,  1.        ,
         1.        , -0.50244517],
       [ 0.63878901,  1.        ,  0.        , ...,  0.        ,
         0.        ,  0.78684529],
       [-0.2846632 ,  0.        ,  0.        , ...,  1.        ,
         0.        , -0.48885426],
       ...,
       [ 0.        ,  0.        ,  0.        , ...,  1.        ,
         0.        , -0.17626324],
       [-0.2846632 ,  1.        ,  0.        , ...,  0.        ,
         1.        , -0.04438104],
       [ 0.17706291,  0.        ,  0.        , ...,  0.        ,
         1.        , -0.49237783]])

## 1 Column names

Uh oh, we have lost the column names along the way! We need to manually add them:
- age_pipe => 'scaled_age'
- one_hot_pipe => 'Pclass_1', 'Pclass_2', 'Pclass_3', 'Embarked_C', 'Embarked_Q', 'Embarked_S'
- gender_pipe => 'male'
- fare_pipe => 'scaled_fare'

Now we need to:

1. Create a new pandas dataframe called `Xt` with the appropriate column names and fill it with the `X_transf` data.
2. Notice that the current pipeline complitely discards the columns: u'SibSp', u'Parch'. Stack them as they are to the new dataframe

In [20]:
coeffs2 = pd.DataFrame(model2.coef_, columns=iris.feature_names, index=iris.target_names)
coeffs2

NameError: name 'model2' is not defined

In [21]:
new_cols = ['scaled_age', 'Pclass_1', 'Pclass_2', 'Pclass_3',
            'Embarked_C', 'Embarked_Q', 'Embarked_S',
            'male', 'scaled_fare']

Xt = pd.DataFrame(X_transf, columns=new_cols)
Xt = pd.concat([Xt, X[[u'SibSp', u'Parch']]], axis = 1)
Xt.head()

,scaled_age,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S,male,scaled_fare,SibSp,Parch
0,-0.592481,0.0,0.0,1.0,0.0,0.0,1.0,1.0,-0.502445,1,0
1,0.638789,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.786845,1,0
2,-0.284663,0.0,0.0,1.0,0.0,0.0,1.0,0.0,-0.488854,0,0
3,0.407926,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.420730,1,0
4,0.407926,0.0,0.0,1.0,0.0,0.0,1.0,1.0,-0.486337,0,0

## 2. Feature selection

Let's use the `SelectKBest` method in scikit learn to see which are the top 5 features.

- What are the top 5 features for `Xt`?

=> store them in a variable called `kbest_columns`

In [ ]:
""">>> iris = load_iris()
>>> X, y = iris.data, iris.target
>>> X.shape
(150, 4)
>>> X_new = SelectKBescwt(chi2, k=2).fit_transform(X, y)"""

In [ ]:
#kbest_columns

GenericUnivariateSelect

## 3. Recursive Feature Elimination

`Scikit Learn` also offers recursive feature elimination as a class named `RFECV`. Use it in combination with a logistic regression model to see what features would be kept with this method.

=> store them in a variable called `rfecv_columns`

## 4. Logistic regression coefficients

Let's see if the Logistic Regression coefficients correspond.

- Create a logistic regression model
- Perform grid search over penalty type and C strength in order to find the best parameters
- Sort the logistic regression coefficients by absolute value. Do the top 5 correspond to those above?
> Answer: Not completely. That could be due to scaling

=> choose which ones you would keep and store them in a variable called `lr_columns`

## 5. Compare features sets

Use the `best estimator` from question 4 on the 3 different feature sets:

- `kbest_columns`
- `rfecv_columns`
- `lr_columns`
- `all_columns`

Questions:

- Which scores the highest? (use cross_val_score)
- Is the difference significant?
> Answer: Not really
- discuss in pairs

## Bonus

Use a bar chart to display the logistic regression coefficients. Start from the most negative on the left.