In [1]:
# import modules

import pandas as pd
import numpy as np

In [5]:
# create a dataframe

data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'age': [42, 52, 36, 24, 73], 
        'preTestScore': [4, 24, 31, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70]}
df = pd.DataFrame(data, columns = 
                  ['name', 'age', 'preTestScore', 'postTestScore'])
df

    name  age  preTestScore  postTestScore
0  Jason   42             4             25
1  Molly   52            24             94
2   Tina   36            31             57
3   Jake   24             2             62
4    Amy   73             3             70

In [7]:
# select the preTestScore column
Print df['pretTestScore']

SyntaxError: invalid syntax (<ipython-input-7-eb69cb317d2e>, line 2)

In [4]:
# find the standard deviation of preTestScore

In [5]:
# select rows in preTestScore with scores greater than the mean
# find the mean of preTestScore

In [6]:
# select the rows in preTestScore with scores greater than the mean

In [7]:
# create a new column that shows the score change from 
# preTestScore to postTestScore