In [134]:
import pandas as pd
import numpy as np
dictionary = {'one': (4,5,8,2,8,897098740,10,10,10,10,10), 'two': ( 12,14,789,16,23,11,10,10,10,10,10)}
df = pd.DataFrame.from_dict(dictionary)
df.head(10)

         one  two
0          4   12
1          5   14
2          8  789
3          2   16
4          8   23
5  897098740   11
6         10   10
7         10   10
8         10   10
9         10   10

In [ ]:
"""def remove_outliers(column, tolerance):
    for x in column if x >= (np.abs(column.std)*3):
        df[x.row]"""

In [122]:
def remove_outliers(column, tolerance):
    for x in column:
        if x >= (np.abs(column.std())*tolerance):
            df = df.drop(axis=1)
        else:
            pass
        
remove_outliers(df.one, 3)

        
"""df = df.drop(df[<some boolean condition>].index)
df = df.drop(df[df.column >= (np.abs(df.column.std(axis=0))*tol)].index)"""

'df = df.drop(df[<some boolean condition>].index)\ndf = df.drop(df[df.column >= (np.abs(df.column.std(axis=0))*tol)].index)'

In [42]:
"""def run(column, tol):
    df = df.drop(df[df.column >= (np.abs(df.column.std(axis=0))*tol)].index)
    
run('one', 3)
df
"""

SyntaxError: invalid syntax (<ipython-input-42-6b60aaafbbc8>, line 2)

In [113]:
#print df.iloc[:, [x for x in df.one if x >= (np.abs(df.one.std(axis=0))*3)]]

print df.one.std()
print df.one.std()

14.3166569655
14.3166569655

In [45]:
# df.drop(df[3:4], inplace=True)

NameError: name 'true' is not defined

In [132]:
df.one.std()*3

811456334.98434091

In [135]:
df[df['one'] < (df.one.std()*3)]

    one  two
0     4   12
1     5   14
2     8  789
3     2   16
4     8   23
6    10   10
7    10   10
8    10   10
9    10   10
10   10   10

In [104]:
df[~np.abs(df.one-df.one.mean())<=(3*df.one.std())]
df.drop(df[(abs(df.one.std(axis=0)) < 3)])

KeyError: False

In [74]:
df[df.apply(lambda x: np.abs(x - x.mean()) / x.std() < 3).all(axis=1)]

   one  two
0    4   12
1    5   14
2    8  789
3    2   16
4    8   23
5   40   11
6   10   20

In [77]:
lambda x : np.abs(x - x.mean()) / x.std() < 3).all(axis=1)

SyntaxError: invalid syntax (<ipython-input-77-0c6e9feb43ce>, line 1)

In [ ]:

df = (lambda x: df.drop() for x in df )

In [ ]:
def RemoveOutliers2(column, m=3):
    new_data = pd.DataFrame(column)
    clean_data = new_data[np.abs(new_data-new_data.mean())<=(m*new_data.std())]
    return clean_data


def RemoveOutliers2(SaleDollars, 3)


"""def RemoveOutliers(copy_prices): 
    # Truncate to length 4. Fat finger assumptions i.e. 2400000 instead of 240. 
    copy_prices = copy_prices.str.slice(0, 4)
    #Replace NaN
    copy_prices = copy_prices.replace('nan', '0') 
    # Set 0 prices to mean values
    zero_price = copy_prices == '0'
    copy_prices[zero_price] = np.mean(prices)
    return copy_prices