# APIs and SQL Joins Lab

The city of San Francisco wants to assess the quality of restaurants in the city. Their data is scattered across multiple sources and incomplete.

They tasked you to help them assess it.

They would like to know what the most common violations are where they happen most frequently.

## 1. Initial data inspection

To answer the question we will need to retrieve and merge data from multiple files.

Yelp provides data on food quality, that can be found at [this address](http://www.yelp.com/healthscores/feeds). We already downloaded 4 files that you can find in the [assets folder](../../assets/datasets/yelp/).

In the bonus part we will also use the Google Geocoding API and data on [Neighborhoods](https://www.google.com/fusiontables/DataSource?docid=1zNwsvTwj-dH0QxuuDrKFsyfNklajd7WwEyaZ2U9M#rows:id=1).

1. Open each of the files and inspect them visually
- What information do they contain?

In [ ]:
!ls ../../assets/datasets/yelp

## 2. Local database

The first step in our analysis is to import the data into a local PostgreSQL database.

1. Launch a local Postgres server;
2. Create a local database named 'inspections';
3. Connect to it with sqlalchemy (see starter code) and import the files to separate tables.

**Note:** The files are not encoded in utf8, but in latin1. You can read more about encodings here: http://www.postgresql.org/docs/current/interactive/multibyte.html

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sqlalchemy import create_engine

engine = create_engine('postgresql://timothyernst@localhost:5432/inspections') # Replace 'winston' with your username

In [2]:
def load_to_sql(name):
    df = pd.read_csv('../../assets/datasets/yelp/{}.csv'.format(name), encoding='latin1')
    df.to_sql(name, engine, flavor='postgres', if_exists='replace')
    print "done", name
    
load_to_sql('businesses')
load_to_sql('inspections')
load_to_sql('legend')
load_to_sql('violations')

done businesses
done inspections
done legend
done violations

### 2.b Display the first few lines of each table

In [6]:
# Replace <user> with your user name

%reload_ext sql
%sql postgresql://timothyernst@localhost:5432/inspections

u'Connected: timothyernst@inspections'

In [7]:
%%sql
select * from inspections limit 2;

2 rows affected.

[(0L, 10L, 94L, 20140729L, u'routine'), (1L, 10L, 92L, 20140114L, u'routine')]

In [8]:
%%sql
select * from businesses limit 5;

5 rows affected.

[(0L, 10L, u'TIRAMISU KITCHEN', u'033 BELDEN PL', u'San Francisco', u'CA', u'94104', 37.791116, -122.403816, u'+14154217044'),
 (1L, 19L, u'NRGIZE LIFESTYLE CAFE', u'1200 VAN NESS AVE, 3RD FLOOR', u'San Francisco', u'CA', u'94109', 37.786848, -122.421547, u'+14157763262'),
 (2L, 24L, u'OMNI S.F. HOTEL - 2ND FLOOR PANTRY', u'500 CALIFORNIA ST, 2ND  FLOOR', u'San Francisco', u'CA', u'94104', 37.792888, -122.403135, u'+14156779494'),
 (3L, 31L, u"NORMAN'S ICE CREAM AND FREEZES", u'2801 LEAVENWORTH ST ', u'San Francisco', u'CA', u'94133', 37.807155, -122.419004, None),
 (4L, 45L, u"CHARLIE'S DELI CAFE", u'3202 FOLSOM ST ', u'San Francisco', u'CA', u'94110', 37.747114, -122.413641, u'+14156415051')]

In [9]:
%%sql
SELECT * FROM legend LIMIT 10;

4 rows affected.

[(0L, 0L, 70L, u'Poor'),
 (1L, 71L, 85L, u'Needs Improvement'),
 (2L, 86L, 90L, u'Adequate'),
 (3L, 91L, 100L, u'Good')]

In [11]:
%%sql
SELECT * FROM violations LIMIT 5;

5 rows affected.

[(0L, 10L, 20140729L, u'Insufficient hot water or running water  [ date violation corrected: 8/7/2014 ]'),
 (1L, 10L, 20140729L, u'Unapproved or unmaintained equipment or utensils  [ date violation corrected: 8/7/2014 ]'),
 (2L, 10L, 20140114L, u'Inadequate and inaccessible handwashing facilities  [ date violation corrected: 1/24/2014 ]'),
 (3L, 10L, 20140114L, u'Unclean or degraded floors walls or ceilings  [ date violation corrected: 1/24/2014 ]'),
 (4L, 10L, 20140114L, u'Improper storage of equipment utensils or linens  [ date violation corrected: 1/24/2014 ]')]

## 2.b Investigate violations

Let's focus on the violations table initially.


Answer these questions using sql:
1. How many violations are there?
- How many businesses committing violations?
- What's the average number of violations per business?

Answer these questions using python
1. Draw a plot of the violations count
- Is the average number of violations meaningful?
- Draw a plot of the normalized cumulative violation counts. Can we discard the restaurants with few violations?
- Where would you draw a threshold if you were to keep 90% of the violations?

In [15]:
%%sql
SELECT COUNT(*) FROM violations;

1 rows affected.

[(39917L,)]

In [20]:
%%sql
SELECT COUNT(DISTINCT business_id) FROM violations;

1 rows affected.

[(5022L,)]

In [24]:
%%sql
SELECT (COUNT(*) / COUNT(DISTINCT business_id)) AS Avg_Per_Business FROM violations;

1 rows affected.

[(7L,)]

In [33]:
df = pd.read_sql_query("SELECT * FROM violations;", engine)
df.head()

,index,business_id,date,description
0,0,10,20140729,Insufficient hot water or running water [ dat...
1,1,10,20140729,Unapproved or unmaintained equipment or utensi...
2,2,10,20140114,Inadequate and inaccessible handwashing facili...
3,3,10,20140114,Unclean or degraded floors walls or ceilings ...
4,4,10,20140114,Improper storage of equipment utensils or line...

### 2.c Investigate Inspections

In the previous step we looked at violations count. However we also have an inspection score available in the inspections table. Let's have a look at that too.

Answer these questions using SQL:
1. What's the average score for the whole city?
1. What's the average score per business?
- Does the score correlate with the number of inspections?
- Create a dataframe from a table with the following columns:
    business_id, average_score, number_of_inspections, number_of_violations
- Use pandas to do a scatter matrix plot of average_score, number_of_inspections, number_of_violations to check for correlations

## 3 Zipcode analysis

The town administration would like to know which zip code are the ones where they should focus the inspections.

Use the information contained in the `businesses` table as well as the previous tables to answer the following questions using SQL:

1. Count the number of businesses per zipcode and sort them by descending order
- Which are the top 5 zipcodes with the worst average score?
    - restrict your analysis to the zipcodes with at least 50 businesses
    - do a simple average of the inspections scores in the postal code
- Which are the top 5 zipcodes with the highest number of violations per restaurant?
    - restrict your  analysis to the zipcodes with at least 50 businesses

## Final recommendation
Give a final recommendation on which 2 zipcodes should the administration focus and choose an appropriate plot to convince them visually.

## Bonus: Neighborhood data

Instead of looking at zipcodes we may be interested in using Neighborhood names.

It's beyond the scope of this lab to do a proper introduction to Geocoding and Reverse Geocoding, but we will give some pointers for further exploration.

### 1. Google Geocoding API
Have a look at:
- https://developers.google.com/maps/documentation/geocoding/intro
- https://maps.googleapis.com/maps/api/geocode/json?address=
- https://maps.googleapis.com/maps/api/geocode/json?latlng=

Through this API you can retrieve an address or a neighborhood from a lat-lon pair (reverse geocoding), or you can retrieve lat long and other information from an address (geocoding).

1. Try experimenting with and retrieving a few addresses
- Note that google imposes limits on the number of free queries
- How many missing lat-lon pairs do we have?

### Bonus 2
The pycurl library seems to be faster than requests in getting information from the google api.

1. See if you can extract the neighborhood from an address using the geocode api and a bit of json parsing
- Note that you would surely hit the daily limit if you pulled each address' neighborhood from the api

### Bonus 3
We can find the neighborhood using the polygons associated to each of them.
[Here](https://www.google.com/fusiontables/DataSource?docid=1zNwsvTwj-dH0QxuuDrKFsyfNklajd7WwEyaZ2U9M#rows:id=1) you can find these polygons (and we also copied them [locally](../../assets/datasets/sfneighborhoods.csv).

[This article](http://streamhacker.com/2010/03/23/python-point-in-polygon-shapely/) describes how to use the shapely package to check if a point belongs to a polygon.

- See if you can build a function that retrieves the neighborhood for a given address using the polygon data

### Further exploration

Postgres is actually GIS enabled, so we could do location based queries directly in the database.

Have a look at http://postgis.refractions.net/ for more information.