# ![](https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png) Pandas & Pivot Tables

Week 2 | Day 3

### LEARNING OBJECTIVES
*After this lesson, you will be able to:*
- Use pandas.pivot_table
- Use the parameters: values, columns, index, aggfunc, and margins

## How many of you have used an Excel pivot table?

![](http://cdn.get-digital-help.com/wp-content/uploads/2012/03/pivot-table-basics-final2.gif)

## Pivot tables allow for the manipulation and transformation of data through aggregation

## Let's see an example

In [3]:
# first we import pandas
import pandas as pd

# next, we load the csv and save to a DataFrame
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv')

# we view the first 5 rows
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

#### What are some questions we might ask of this data?

## Questions we might ask

1. What is the average tip of a smoker vs. a non-smoker?
2. Male vs. female?
3. What is the average tip by the day of the week?
4. How many male smokers vs. female in this set?

## Pivot tables allow us to answer all of these and more!
<br>
![](http://i.imgur.com/YsbKHg1.gif)

## Question 1: What is the average tip by smoking status?

In [12]:
pd.pivot_table(df, index='smoker', values='tip')

smoker
No     2.991854
Yes    3.008710
Name: tip, dtype: float64

We can see that we passed our DataFrame, an 'index', and a 'values' parameter. This automatically gave us the mean tip by unique smoking class.

## Question 2: What is the average tip by sex?

In [13]:
pd.pivot_table(df, index='sex', values='tip')

sex
Female    2.833448
Male      3.089618
Name: tip, dtype: float64

We simply changed the index.

## What if we want to see the average size of the party as well?

In [18]:
pd.pivot_table(df, index='sex', values=['tip', 'size'])

            size       tip
sex
Female  2.459770  2.833448
Male    2.630573  3.089618

We just pass in the list of the features we want to see the mean of.

## Can we see the breakdown by sex and smoking status?

In [19]:
pd.pivot_table(df, index=['sex', 'smoker'], values=['tip', 'size'])

                   size       tip
sex    smoker
Female No      2.592593  2.773519
       Yes     2.242424  2.931515
Male   No      2.711340  3.113402
       Yes     2.500000  3.051167

Why, yes. Yes, we can.

## What about by day of the week?

In [21]:
pd.pivot_table(df, index='day')

          size       tip  total_bill
day
Fri   2.105263  2.734737   17.151579
Sat   2.517241  2.993103   20.441379
Sun   2.842105  3.255132   21.410000
Thur  2.451613  2.771452   17.682742

Notice I left off the 'values' column. If we omit it, we get the mean of everything numeric.

## Exercise:

Using the smoker tip data and pd.pivot_table(), answer the following questions:
- What is the average total bill for dinner vs. lunch over all days?
- What day of the week has the highest average lunch price?
- Who has a higher average tip: female smokers at lunch or male smokers? What about dinner?

In [10]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [11]:
pd.pivot_table(df, index=['day', 'time'], values=['total_bill'])

             total_bill
day  time
Fri  Dinner   19.663333
     Lunch    12.845714
Sat  Dinner   20.441379
Sun  Dinner   21.410000
Thur Dinner   18.780000
     Lunch    17.664754

In [14]:
pd.pivot_table(df, index=['time', 'day'], values=['total_bill'])

             total_bill
time   day
Dinner Fri    19.663333
       Sat    20.441379
       Sun    21.410000
       Thur   18.780000
Lunch  Fri    12.845714
       Thur   17.664754

In [17]:
pd.pivot_table(df, index=['time', 'day', 'sex'])

                        size       tip  total_bill
time   day  sex
Dinner Fri  Female  2.000000  2.810000   14.310000
            Male    2.285714  3.032857   23.487143
       Sat  Female  2.250000  2.801786   19.680357
            Male    2.644068  3.083898   20.802542
       Sun  Female  2.944444  3.367222   19.872222
            Male    2.810345  3.220345   21.887241
       Thur Female  2.000000  3.000000   18.780000
Lunch  Fri  Female  2.250000  2.745000   13.940000
            Male    1.666667  1.900000   11.386667
       Thur Female  2.483871  2.561935   16.648710
            Male    2.433333  2.980333   18.714667

In [18]:
pd.pivot_table(df|df['smoker']=='Yes')

ValueError: operands could not be broadcast together with shapes (60024,) (246,)

## What if I not interested in the average?
<br>

![](https://media.giphy.com/media/l0K3ZRJ1IXfxgmMQU/giphy.gif)

## Why do we even get the average?

![](http://i.imgur.com/YsEx6y4.png)

What is this 'aggfunc'?

## Let's change from the mean to something else

In [39]:
pd.pivot_table(df, index=['sex'], aggfunc='max')

         day  size smoker   time   tip  total_bill
sex
Female  Thur     6    Yes  Lunch   6.5       44.30
Male    Thur     6    Yes  Lunch  10.0       50.81

In [38]:
pd.pivot_table(df, index=['sex'], aggfunc='min')

        day  size smoker    time  tip  total_bill
sex
Female  Fri     1     No  Dinner  1.0        3.07
Male    Fri     1     No  Dinner  1.0        7.25

## Let's bring in numpy

In [19]:
import numpy as np

pd.pivot_table(df, index=['sex'], aggfunc=np.std)

            size       tip  total_bill
sex
Female  0.937644  1.159495    8.009209
Male    0.955997  1.489102    9.246469

## Let's make it a list

In [20]:
pd.pivot_table(df, index=['sex'], aggfunc=[np.mean, np.std, np.var, len])

            mean                            std                       \
            size       tip total_bill      size       tip total_bill
sex
Female  2.459770  2.833448  18.056897  0.937644  1.159495   8.009209
Male    2.630573  3.089618  20.744076  0.955997  1.489102   9.246469

             var                       len
            size       tip total_bill  day size smoker time    tip total_bill
sex
Female  0.879177  1.344428  64.147429   87   87     87   87   87.0       87.0
Male    0.913931  2.217424  85.497185  157  157    157  157  157.0      157.0

In [21]:
pd.pivot_table(df, index=['sex'], aggfunc=[lambda x: x.unique, np.mean, np.std, np.var, len])

                                                 <lambda>  \
                                                      day
sex
Female  <bound method Series.unique of 0       Sun\n4 ...
Male    <bound method Series.unique of 1       Sun\n2 ...

                                                           \
                                                     size
sex
Female  <bound method Series.unique of 0      2\n4    ...
Male    <bound method Series.unique of 1      3\n2    ...

                                                           \
                                                   smoker
sex
Female  <bound method Series.unique of 0       No\n4  ...
Male    <bound method Series.unique of 1       No\n2  ...

                                                           \
                                                     time
sex
Female  <bound method Series.unique of 0      Dinner\n...
Male    <bound method Series.unique of 1      Dinner\n...

                                                           \
                                                      tip
sex
Female  <bound method Series.unique of 0      1.01\n4 ...
Male    <bound method Series.unique of 1      1.66\n2 ...

                                                               mean            \
                                               total_bill      size       tip
sex
Female  <bound method Series.unique of 0      16.99\n4...  2.459770  2.833448
Male    <bound method Series.unique of 1      10.34\n2...  2.630573  3.089618

                        std    ...                      var            \
       total_bill      size    ...     total_bill      size       tip
sex                            ...
Female  18.056897  0.937644    ...       8.009209  0.879177  1.344428
Male    20.744076  0.955997    ...       9.246469  0.913931  2.217424

                   len
       total_bill  day size smoker time    tip total_bill
sex
Female  64.147429   87   87     87   87   87.0       87.0
Male    85.497185  157  157    157  157  157.0      157.0

[2 rows x 21 columns]

Notice that we use 'len' in place of count to ge the number

## Exercise

- Which day of the week has the highest total bill variance?
- Which day of the week had the largest party size? Smallest? How many total people each day?
- What is the mean, variance, and count of total bills by day of week and smoking status?

In [23]:
pd.pivot_table(df, index=['day'], values=['total_bill'], aggfunc=np.var)

      total_bill
day
Fri    68.934158
Sat    89.878338
Sun    78.006376
Thur   62.191683

In [26]:
pd.pivot_table(df, index=['day'], values=['size'], aggfunc=[max, min, sum])

      max  min  sum
     size size size
day
Fri     4    1   40
Sat     5    1  219
Sun     6    2  216
Thur    6    1  152

In [25]:
pd.pivot_table(df, index=['day', 'smoker'], values=['total_bill'], aggfunc=[np.var, np.mean, len])

                    var       mean        len
             total_bill total_bill total_bill
day  smoker
Fri  No       25.596333  18.420000        4.0
     Yes      82.562438  16.813333       15.0
Sat  No       79.908965  19.661778       45.0
     Yes     101.387535  21.276667       42.0
Sun  No       66.099980  20.506667       57.0
     Yes     109.046044  24.120000       19.0
Thur No       59.625081  17.113111       45.0
     Yes      69.808518  19.190588       17.0

## Now let's pivot that last one by moving smoker status to the column

In [132]:
pd.pivot_table(df, index=['day'], columns=['smoker'], values=['total_bill'], aggfunc=[np.mean, len])

             mean                   len
       total_bill            total_bill
smoker         No        Yes         No   Yes
day
Fri     18.420000  16.813333        4.0  15.0
Sat     19.661778  21.276667       45.0  42.0
Sun     20.506667  24.120000       57.0  19.0
Thur    17.113111  19.190588       45.0  17.0

## What about subtotals?

In [131]:
pd.pivot_table(df,\
               index=['day'], columns=['smoker'],\
               values=['total_bill'],\
               aggfunc=[np.mean, len],\
               margins=True)

             mean                              len
       total_bill                       total_bill
smoker         No        Yes        All         No   Yes    All
day
Fri     18.420000  16.813333  17.151579        4.0  15.0   19.0
Sat     19.661778  21.276667  20.441379       45.0  42.0   87.0
Sun     20.506667  24.120000  21.410000       57.0  19.0   76.0
Thur    17.113111  19.190588  17.682742       45.0  17.0   62.0
All     19.188278  20.756344  19.785943      151.0  93.0  244.0

We now have subtotals for each piece both to the right and on the bottom

## Independent Exercise

Using the data below:
1. Create a DataFrame

2. Creat a pivot table that reports the mean, standard deviation, min, and
   max of the preTestScore for each company (1st and 2nd)

3. Create another that reports the same details for the postTestScore score

4. Create a pivot table that has the information from both of the above tables

5. Take it a step further and add the information for each regiment to the table

In [27]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

In [31]:
df2 = pd.DataFrame(raw_data)
df2.head()

  company      name  postTestScore  preTestScore    regiment
0     1st    Miller             25             4  Nighthawks
1     1st  Jacobson             94            24  Nighthawks
2     2nd       Ali             57            31  Nighthawks
3     2nd    Milner             62             2  Nighthawks
4     1st     Cooze             70             3    Dragoons

In [33]:
#2. Creat a pivot table that reports the mean, standard deviation, min, and max of the preTestScore for each company (1st and 2nd)

pd.pivot_table(df2, index=['company'], values=['preTestScore'], aggfunc=[np.mean, np.std, min, max])

                mean          std          min          max
        preTestScore preTestScore preTestScore preTestScore
company
1st         6.666667     8.524475            2           24
2nd        15.500000    14.652645            2           31

In [34]:
#3. Create another that reports the same details for the postTestScore score


pd.pivot_table(df2, index=['company'], values=['postTestScore'], aggfunc=[np.mean, np.std, min, max])

                 mean           std           min           max
        postTestScore postTestScore postTestScore postTestScore
company
1st         57.666667     27.485754            25            94
2nd         67.000000     14.057027            57            94

In [35]:
#4. Create a pivot table that has the information from both of the above tables


pd.pivot_table(df2, index=['company'], values=['preTestScore','postTestScore'], aggfunc=[np.mean, np.std, min, max])

                 mean                        std                        min  \
        postTestScore preTestScore postTestScore preTestScore postTestScore
company
1st         57.666667     6.666667     27.485754     8.524475            25
2nd         67.000000    15.500000     14.057027    14.652645            57

                               max
        preTestScore postTestScore preTestScore
company
1st                2            94           24
2nd                2            94           31

In [38]:
#5. Take it a step further and add the information for each regiment to the table

pd.pivot_table(df2, index=['company', 'regiment'], values=['preTestScore','postTestScore'], aggfunc=[np.mean, np.std, min, max])

                            mean                        std               \
                   postTestScore preTestScore postTestScore preTestScore
company regiment
1st     Dragoons            47.5          3.5     31.819805     0.707107
        Nighthawks          59.5         14.0     48.790368    14.142136
        Scouts              66.0          2.5      5.656854     0.707107
2nd     Dragoons            75.5         27.5     26.162951     4.949747
        Nighthawks          59.5         16.5      3.535534    20.506097
        Scouts              66.0          2.5      5.656854     0.707107

                             min                        max
                   postTestScore preTestScore postTestScore preTestScore
company regiment
1st     Dragoons              25            3            70            4
        Nighthawks            25            4            94           24
        Scouts                62            2            70            3
2nd     Dragoons              57           24            94           31
        Nighthawks            57            2            62           31
        Scouts                62            2            70            3

In [40]:
# solution
scores = pd.DataFrame(raw_data)
scores

   company      name  postTestScore  preTestScore    regiment
0      1st    Miller             25             4  Nighthawks
1      1st  Jacobson             94            24  Nighthawks
2      2nd       Ali             57            31  Nighthawks
3      2nd    Milner             62             2  Nighthawks
4      1st     Cooze             70             3    Dragoons
5      1st     Jacon             25             4    Dragoons
6      2nd    Ryaner             94            24    Dragoons
7      2nd      Sone             57            31    Dragoons
8      1st     Sloan             62             2      Scouts
9      1st     Piger             70             3      Scouts
10     2nd     Riani             62             2      Scouts
11     2nd       Ali             70             3      Scouts

In [148]:
# solution - preTest
pd.pivot_table(scores.iloc[:, [0, 3]], index=['company'], aggfunc=[np.mean, np.std, min, max]).T

company                   1st        2nd
mean postTestScore  57.666667  67.000000
std  postTestScore  27.485754  14.057027
min  postTestScore  25.000000  57.000000
max  postTestScore  94.000000  94.000000

In [41]:
scores.iloc[:, [0, 3]

SyntaxError: unexpected EOF while parsing (<ipython-input-41-e191c600efd8>, line 1)

In [152]:
# solution - postTest

pd.pivot_table(scores.iloc[:, [0, 2]], index=['company'], aggfunc=[np.mean, np.std, min, max]).T

company                   1st        2nd
mean postTestScore  57.666667  67.000000
std  postTestScore  27.485754  14.057027
min  postTestScore  25.000000  57.000000
max  postTestScore  94.000000  94.000000

In [158]:
# solution both

pd.pivot_table(scores.iloc[:, [0, 2, 3]], index=['company'],\
               aggfunc=[np.mean, np.std, min, max]).T

company                   1st        2nd
mean postTestScore  57.666667  67.000000
     preTestScore    6.666667  15.500000
std  postTestScore  27.485754  14.057027
     preTestScore    8.524475  14.652645
min  postTestScore  25.000000  57.000000
     preTestScore    2.000000   2.000000
max  postTestScore  94.000000  94.000000
     preTestScore   24.000000  31.000000

In [160]:
# solution both with regiment

pd.pivot_table(scores.iloc[:, [0, 2, 3, 4]], index=['company'],\
               columns=['regiment'], aggfunc=[np.mean, np.std, min, max]).T

company                              1st        2nd
                   regiment
mean postTestScore Dragoons    47.500000  75.500000
                   Nighthawks  59.500000  59.500000
                   Scouts      66.000000  66.000000
     preTestScore  Dragoons     3.500000  27.500000
                   Nighthawks  14.000000  16.500000
                   Scouts       2.500000   2.500000
std  postTestScore Dragoons    31.819805  26.162951
                   Nighthawks  48.790368   3.535534
                   Scouts       5.656854   5.656854
     preTestScore  Dragoons     0.707107   4.949747
                   Nighthawks  14.142136  20.506097
                   Scouts       0.707107   0.707107
min  postTestScore Dragoons    25.000000  57.000000
                   Nighthawks  25.000000  57.000000
                   Scouts      62.000000  62.000000
     preTestScore  Dragoons     3.000000  24.000000
                   Nighthawks   4.000000   2.000000
                   Scouts       2.000000   2.000000
max  postTestScore Dragoons    70.000000  94.000000
                   Nighthawks  94.000000  62.000000
                   Scouts      70.000000  70.000000
     preTestScore  Dragoons     4.000000  31.000000
                   Nighthawks  24.000000  31.000000
                   Scouts       3.000000   3.000000