# ![](https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png) Flash lesson: lambda functions
Week 3 | Lesson 4.1

### LEARNING OBJECTIVES
*After this lesson, you will be able to:*
- Write and apply one-line **lambda functions**

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

### Lambda

Lambda is a tool for building functions. We already know how to build functions
using def, but let's do a quick comparison of the two.

Here's building a function using def:
```Python
def square_root(x): return x ** .5
```

Here's building the same function using lambda
```Python
square_root_lambda = lambda x: x ** .5
```

In [ ]:
def square_root(x): 
    return x** .5

square_root_lambda = lambda x: x ** .5

In [5]:
square_root(2)

1.4142135623730951

In [6]:
square_root_lambda(2)

1.4142135623730951

### Quck check
Write a normal function to calculate the area of a rectangle.

Then, re-write that function as a lambda function.

In [1]:
#Function here
def area(x, y):
    return x * y
    
    
#Lambda function here:
area_lambda = lambda x, y: x * y

# Test them out!
print area(4,5), area_lambda(4,5)

20 20

### Lambdas are 'anonymous functions'
Lambda functions are useful when you have an operation that your code only calls once.

Some things to remember about lambda:
- it does not contain a return statement
- it is not a named function
- it is a tool for creating anonymous procedures
- it only takes a single expression (so, no loops or if statements)

More information on [Lambda](https://pythonconquerstheuniverse.wordpress.com/2011/08/29/lambda_tutorial/).

For example, in this code:
```Python
def _range(x):
    return np.max(x) - np.min(x)
    
df.pivot_table(index='A', aggfunc = (np.mean, _range))
```


You can replace the `_range` function with a lambda:

```Python
df.pivot_table(index='A', aggfunc = (np.mean, lambda x: np.max(x) - np.min(x)))
```

In [4]:
df = pd.DataFrame(np.random.randint(0,100,size=(8, 4)), columns=list('ABCD'))
df2 = pd.DataFrame([x for x in range(0,2)]*4, columns=['Group'])
df = pd.concat([df, df2], axis = 1)
df

    A   B   C   D  Group
0  64  61  45   5      0
1  61  44  18  56      1
2  69  76  14   2      0
3  82  39   1  89      1
4  99  19  17  36      0
5  55  25   9  19      1
6  79  87  99  42      0
7  96  89  70  62      1

In [68]:
df = df.applymap(lambda x: x*2)
df.head()

     A    B    C    D  Group
0  128   88  100   22      0
1  176  174    6   42      2
2   18  136   44  188      0
3    0  180   84   48      2
4  168   14   12  186      0

In [5]:
def _range(x):
    return np.max(x) - np.min(x)

df.pivot_table(index = 'Group', aggfunc = (np.mean, _range))

           A             B             C             D
        mean _range   mean _range   mean _range   mean _range
Group
0      77.75     35  60.75     68  43.75     85  21.25     40
1      73.50     41  49.25     64  24.50     69  56.50     70

In [70]:
df.pivot_table(index='Group', aggfunc = (np.mean, lambda x: np.max(x) - np.min(x)))

          A               B              C             D
       mean <lambda>   mean <lambda>  mean <lambda> mean <lambda>
Group
0      95.5      150   61.5      128  82.5      162  124      166
2      83.5      176  143.0      106  76.0      180   79      120

### Independent practice
Practice writing a few lambda functions and applying them to this dataframe

In [31]:
# Problem 1: apply a lambda function that gives the square root of every element
#df.applymap(lambda x: x ** .5)

# Problem 2: apply a lambda function that returns 'skewed' for each column if the difference between
# its mean and median is more than 10% of its standard deviation, otherwise return 'normalish'
df.apply(lambda x: 'skewed' if (abs(np.mean(x) - np.median(x)) > np.std(x) * .1) else 'normalish') 

# Problem 3: create a pivot table, indexed on 'Group', with a lambda aggfunc that returns 
# the number of group elements greater than 100
#df.pivot_table(index ='Group', aggfunc = (lambda x: len([i for i in x if i>100])))

A           skewed
B        normalish
C           skewed
D        normalish
Group    normalish
dtype: object

In [18]:
import numpy as np
z = (4,6)
print z.mean()

AttributeError: 'tuple' object has no attribute 'mean'